menu "DIOS extensions"

config DIOS_PCBEXT
	bool "PCB tag for DIOS tasks"
	default n
	help
	  Add an element to the PCB indicating if a process represents a DIOS task.

config DIOS_SYSCALLS
	bool "Enable additional DIOS syscalls"
	default n
  depends on DIOS_PCBEXT
	help
	  Enables the additional syscalls introduced by DIOS.

config DIOS_RESTRICT_LEGACY_SYSCALLS
	bool "Restrict legacy syscalls for DIOS tasks"
	default n
  depends on DIOS_PCBEXT
  depends on DIOS_SYSCALLS
	help
	  Disallow legacy syscalls being invoked by DIOS task binaries.

config DIOS_RESTRICT_DIOS_SYSCALLS
	bool "Restrict DIOS syscalls for legacy processes"
	default n
  depends on DIOS_PCBEXT
  depends on DIOS_SYSCALLS
	help
	  Disallow legacy syscalls being invoked by DIOS task binaries.

config DIOS_DEBUG_VERBOSE
	bool "Verbose debug output"
	default n
  depends on DIOS_PCBEXT
  depends on DIOS_SYSCALLS
	help
		Produce noisy debug output from DIOS kernel code.

endmenu
